<div class="container-fluid card  col-9 mt-5 mb-5 shadow-lg" style="height: auto;">
    <div class="fw-bold fs-3">Add Brand</div>
    <form>
        <div class="mb-3 mt-3">
            <div class="mb-3">
                <label for="catName" class="form-label">Category Name:</label>
                <select class="form-select" id="catName" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
            </div>
            <div class="mb-3">
                <label for="Brand" class="form-label">Brand Name:</label>
                <input type="text" class="form-control" id="Brand">
            </div>
        </div>
        <div class="d-flex justify-content-end mb-5">
            <button type="submit" class="btn text-white fw-bold" style="background-color: rgb(13, 13, 14);">Add Brand</button>
        </div>
    </form>
</div>