<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light  sticky-top bg-black">
    <!-- Container wrapper -->
    <div class="container-fluid d-flex justify-content-start">
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

        <!-- Brand -->
        <a class="navbar-brand " href="/MainLayoutComponent">
            <img src="../../../assets/btech.jpg" height="35" alt="MDB Logo" loading="lazy" />
        </a>
        <!-- Search form -->

    </div>
    <!-- Container wrapper -->
</nav>